/*ToDo
    Logo hinzufügen.
    Underline animation "About", "Our Goal" and "Login"
    Slogen entwickeln
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    overflow: hidden;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    margin-top: 30px;
}

nav span{
    display: block;
}

nav span a, .login{
    vertical-align: middle;
    text-decoration: none;
    color: white;
    margin-left: 75px;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    transition: 0.2s;
    text-shadow: 2px 2px #3d3d3dd7;   
}

nav span a:hover{
    letter-spacing: 2px;
    text-shadow: 4px 4px #3d3d3dd7;   
}

.login{
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}



.register{
    background-color: rgba(66, 66, 66, 0.5);
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    width: 1000px;
    height: 150px;
    border-radius: 150px 0px 150px 0px;
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.25));
}

.register img{
    width: 100px;
    transition: 0.2s;
}

.register img:hover{
    width: 120px;
}

.register-card{
    display: flex;
    justify-content: center;
    z-index: auto;
}

main p{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
}

main p span{
    text-decoration: none;
    color: white;
    background-color: rgba(128, 128, 128, 0.2);
    width: 120px;
    height: 100px;
    font-weight: 600;
    box-shadow: 8px 8px 22px -2px #000000;
    border-radius: 5px 5px 5px 5px;
    transition: 200ms;
}

main p span a:visited{
    text-decoration: none;
    color: white;
}

main p span:hover{
    letter-spacing: 2px;
    box-shadow: 16px 16px 44px -4px #000000;
    text-decoration: underline;
}

main .quote{
    color: #ffffff;
}

.waves svg{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    animation-name: move-left;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
  }


@keyframes wave {
    0%   {
        left:0px;
        top:0px;}
      
      50%  {
        left:-2000px;
        top:200px;}
      
      100% {
        left:0px; 
        top:0px;}
}



@media (max-width: 814px) {
    body{
        background: linear-gradient(240deg, rgba(255,0,0,1) 0%, rgba(41,99,255,1) 50%, rgba(81,255,104,1) 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .register{
        margin-bottom: 150px;
        width: 500px;
        height: 120px;
    }
    
    .register img{
        width: 75px;
        padding: 10px;
        transition: 0.2s;
    }
    
    .register img:hover{
        width: 80px;
    }

    main p{
        margin-top: 50px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5em;
    }

    nav span a{
        margin-left: 75px;
        font-size: 1.5em;
    }

    .login{
        margin-top: 20px;
        margin-right: 20px;
    }


}