@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
/*font-family: 'Noto Sans Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300&display=swap');
/*font-family: Red Hat Text;*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
/*font-family: 'Barlow Semi Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*font-family: 'Lobster', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lobster&display=swap');
/*font-family: 'Cinzel', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/*font-family: 'Acme', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/*font-family: 'Caveat', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
/*font-family: 'Signika Negative', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: white;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    
}

section{
    height: 100vh;
    width: 100%;
    position: relative;
}

nav{
    display: flex;
    align-items:center;
    width: 100%;
    justify-content:space-between;
}

.goal, .about, .login{
    margin-left: 100px;
}

.login{
    margin-right: 100px;
}

.logo{
    margin-left: 5%;
}

nav span a{
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 2em;
    transition: 0.2s;
    text-shadow: 2px 2px #3d3d3dd7;   
    position: relative;
}

nav span a::after{
    content: "";
    background-color: white;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 200ms;
}

nav span a:hover{
    letter-spacing: 1px;
}

nav span a:hover::after{
    content: "";
    background-color: white;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.register{
    background-color: rgba(66, 66, 66, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 1000px;
    height: 150px;
    border-radius: 150px 0px 150px 0px;
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.25));
}

.register img{
    width: 100px;
    opacity: 0.8;
    transition: 0.2s;
}

.register img:hover{
    width: 120px;
    opacity: 1;
}

.register-card{
    display: flex;
    justify-content: center;
}

main p{
    padding: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
}

main p span{
    color: white;
    background-color: rgba(128, 128, 128, 0.2);
    width: 120px;
    height: 100px;
    font-weight: 600;
    box-shadow: 8px 8px 4px 0px #2c2c2c;
    border-radius: 5px 5px 5px 5px;
    transition: 0.2s;
}

main p span a:visited{
    color: white;
}

main p span:hover{
    letter-spacing: 2px;
    box-shadow: 10px 10px 6px 2px #383838;
    background-image: linear-gradient(to right, #9472f6, #8366f1, #705bec, #5a50e8, #3f46e3);
}

.quote{
    color: #ffffff;
    margin-top: 100px;
}

.waves svg{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    animation-name: move-left;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#section-about{
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.paragraph{
    color: white;
    font-family: Red Hat Text;
    font-size: 1.5em;
    width: 75%;
    left: 15%;
    position: absolute;
    animation: fadeIn 5s;
    text-align: justify;
}

.laptop-image{
    position: absolute;
    left: 50%;
    margin-top: 10%;
    animation: fadeInLaptop 2.5s;
}

.about-us{
    padding-top: 10%;
    color: #FFFFFF;
    text-align: end;
    margin-right: 10%;
    font-size: 3em;
    font-family: Red Hat Text;
    opacity: 30%;
    animation: fadeIn 5s;
}

#section-goal{
    background-image: linear-gradient(to right top, #5588d6, #427edd, #3074e3, #1e69e8, #125deb);
}

.imagine{
    padding-top: 5%;
    margin-left: 10%;
    font-size: 5em;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    animation: fadeIn 2s;
}

.a-place{
    padding-top: 2%;
    margin-left: 10%;
    font-size: 4em;
    font-family: 'Cinzel', serif;
    letter-spacing: 10px;
    animation: fadeInLaptop 2s;
}

.idea-txt{
    text-align: justify;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.8em;
    width: 75%;
    margin-left: 10%;
    margin-top: 3%;
    animation: opacity 8s;
}

.goal-txt{
    text-align: justify;
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
}

.pop-out{
    font-family: 'Acme', sans-serif;
    font-size: 1.2em;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-500px);
        opacity:0;
    }
    100% {
        transform: translateY(0px);
        opacity:1;
    }
}

@keyframes fadeInLaptop {
    0% {
        transform: translateX(1000px);
        opacity:0;
    }
    50% {
        transform: translateX(750px);
        opacity:0;
    }
    100% {
        transform: translateX(0px);
        opacity:1;
    }
}

@keyframes opacity {
    0% {
        opacity:0;
    }
    50% {
        opacity:0.8;
    }
    100% {
        opacity:1;
    }
}

@keyframes wave {
    0%   {
        left:0px;
        top:0px;}
      
      50%  {
        left:-2000px;
        top:200px;}
      
      100% {
        left:0px; 
        top:0px;}
}
